{% extends 'blog/base.html' %}
{% block content %}
<div class="about">
    <h1>About</h1>
    <h4 class="my-3">Intro</h4>
    <p><a href="#">Python</a> is a wonderfully robust language that can be used for many applications and is embraced by many organizations, large and small. There are countless tutorials, frameworks and discussions about how to use python for building web sites or solving complex mathematical or scientific problems. There are not as many places that describe how to use python to handle typical problems someone might deal with in a business setting.</p>
    <p>I hope to use this site to help rememdy the situation. I envision this as a resource to get feedback from the readers on problems we have solved using python. More importantly, we can explain that you do not need to be a Computer Scientist to use python to help you become more efficient and effective in your job.</p>
    <p>I believe that individuals and organizations can use their computing and people resources much more effectively if they harnessed the power of the python tools that are so readily available to them. Let’s make this happen!</p>

    <h4 class="my-3">First, There Was the Command Line</h4>
    <p>Like many computer geeks growing up in the 1980’s and 90’s, I fondly remember working in an all text environment to program computers to do what I wanted. I may not have understood it all, but I enjoyed spending hours typing programs into my Apple //c</p>
    <p>As I learned more, I started to understand Basic, Pascal, C, Assembly. This passion convinced me to major in Computer Science. After getting my degree, I promptly took a job where I used very little of my degree. Like many, I became fascinated by the World Wide Web and all the info available to me. It was amazing to go from that Apple //c to using the Mosaic web browser!</p>
    <p>I changed jobs along the way and ended up as a Unix systems administrator which is where I first got exposed to python. In this role, I learned how to use scripts to automate a lot of my day to day tasks. I learned the importance of version control and the power of streaming together very simple commands to automate very tedious tasks. This xkcd comic shows how much time you can save if you automate away a task</p>
</div>
<hr>
{% endblock content %}





